<p id="notice"><%= notice %></p>

<h1>Welcome to Mix Tape</h1>

<p>Do you miss exchanging mix tapes with your friends? If that's the case you're at the right place. Create a group, invite your friends to join and then each month one group member will create a CD and send it to every one else in your group.</p>
<p>Hear new music! Impress your frineds with your stunning music knowledge!</p>

<%= link_to 'New Group', new_group_path %>

<h1>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


